@page
@using KnowledgeGraph.Localization
@using KnowledgeGraph.Web.Pages.Contacts
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model EditModalModel
@inject IStringLocalizer<KnowledgeGraphResource> L

@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Contacts/EditModal" autocomplete="off">
    <abp-modal id="ContactEditModal">
        <abp-modal-header title="@L["EditContact"].Value"></abp-modal-header>
        
        <abp-modal-body>
            <!-- Hidden ID field -->
            <abp-input asp-for="Id" type="hidden" />
            
            <!-- Basic Information -->
            <abp-input asp-for="Contact.Name" label="@L["Name"].Value" />
            
            <abp-input asp-for="Contact.Email" label="@L["Email"].Value" type="email" />
            
            <!-- Phone Information -->
            <abp-row>
                <abp-column size-md="_6">
                    <abp-input asp-for="Contact.PhoneCode" label="@L["PhoneCode"].Value" />
                </abp-column>
                <abp-column size-md="_6">
                    <abp-input asp-for="Contact.PhoneNumber" label="@L["PhoneNumber"].Value" />
                </abp-column>
            </abp-row>
            
            <!-- Address Information -->
            <abp-input asp-for="Contact.AddressStreet" label="@L["AddressStreet"].Value" />
            
            <abp-row>
                <abp-column size-md="_4">
                    <abp-input asp-for="Contact.AddressCity" label="@L["AddressCity"].Value" />
                </abp-column>
                <abp-column size-md="_4">
                    <abp-input asp-for="Contact.AddressCountry" label="@L["AddressCountry"].Value" />
                </abp-column>
                <abp-column size-md="_4">
                    <abp-input asp-for="Contact.AddressZipCode" label="@L["AddressZipCode"].Value" />
                </abp-column>
            </abp-row>
        </abp-modal-body>
        
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel | AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
